/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body{
    font-family: sans-serif;
    background-color: black;
}

header{
    height: 70px;
}

footer{
    height: 80px;
    background-color: #222222;
}

main{
    height: calc(100vh - 150px);
    overflow: auto;
}

a{
    color: white;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

/* header */

.view{
    display: flex;
    justify-content: flex-end;
}

.view > *{
    margin: 5px;
}

.view-element{
    background-color: #4A4A4A;
    padding: 5px 6px;
    border-radius: 5px;
    font-size: 15px;
}

/* main */

.card{
    position: relative;
}

.column{
    flex-basis: calc(100% / 7);
    padding: 6px 4px;
}

.info-card{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 10px;
}

/* utility */

.container{
    max-width: 1700px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
