/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

header{
    height: 80px;
    background-color: blue;
}

footer{
    height: 80px;
    background-color: beige;
}

main{
    background-color: aquamarine;
    height: calc(100vh - 160px);
    overflow: auto;
}

/* utility */

.container{
    width: 1400px;
    margin: 0 auto;
    background-color: blueviolet;
    border: 2px dashed white;
}