/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

header{
    height: 80px;
    background-color: blue;
}

footer{
    height: 80px;
    background-color: beige;
}

main{
    background-color: aquamarine;
    height: calc(100vh - 160px);
    overflow: auto;
}

img{
    display: block;
    max-width: 100%;
}

/* main */

.card{
    position: relative;
}

.column{
    flex-basis: calc(100% / 7);
    padding: 6px 4px;
}

.info-card{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 10px;
}

/* utility */

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: blueviolet;
    border: 2px dashed white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
